[submodule "cores/otter/OtterMCU"]
	path = cores/otter/OtterMCU
	url = git@github.com:rpeters54/OtterMCU.git
[submodule "cores/stoat/StoatMCU"]
	path = cores/stoat/StoatMCU
	url = git@github.com:rpeters54/StoatMCU.git
